@tailwind base;
@tailwind components;
@tailwind utilities;

.figure {
  -webkit-clip-path: circle(73% at 51% 17%);
  clip-path: circle(75% at 50% 0);
}

.figure2 {
  -webkit-clip-path: circle(70% at 32% 0);
  clip-path: circle(70% at 32% 0);
}
