@tailwind base;
@tailwind components;
@tailwind utilities;

/* AVENIR */

@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"), url("./fonts/Avenir-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed";
  src: local("Avenir-Next-Condensed"),
    url("./fonts/Avenir-Next-Condensed.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Light";
  src: local("Avenir-Next-Condensed-Light"),
    url("./fonts/Avenir-Next-Condensed-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Bold";
  src: local("Avenir-Next-Condensed-Bold"),
    url("./fonts/Avenir-Next-Condensed-Bold.ttf") format("truetype");
}

/* SOLEIL  */

@font-face {
  font-family: "SoleilBold";
  src: local("SoleilBold"), url("./fonts/SoleilBold.otf") format("truetype");
}
@font-face {
  font-family: "SoleilBook";
  src: local("SoleilBook"), url("./fonts/SoleilBook.otf") format("truetype");
}
@font-face {
  font-family: "SoleilRegular";
  src: local("SoleilRegular"),
    url("./fonts/SoleilRegular.otf") format("truetype");
}
@font-face {
  font-family: "SoleilLight";
  src: local("SoleilLight"), url("./fonts/SoleilLight.otf") format("truetype");
}

.soleil {
  font-family: "SoleilRegular";
}
.soleil-bold {
  font-family: "SoleilBold";
}
.soleil-book {
  font-family: "SoleilBook";
}
.soleil-light {
  font-family: "SoleilLight";
}

.avenir {
  font-family: "Avenir-Light";
}
.avenir-medium {
  font-family: "Metropolis-Medium";
}
.avenir-cond {
  font-family: "Avenir-Next-Condensed";
}
.avenir-light {
  font-family: "Avenir-Next-Condensed-Light";
}
.avenir-bold {
  font-family: "Avenir-Next-Condensed-Bold";
}

.helvetica {
  font-family: Helvetica, Sans-Serif;
  font-weight: 400;
}
.helvetica-thin {
  font-family: Helvetica, Sans-Serif;
  font-weight: 100;
  font-style: normal;
}
.helvetica-light {
  font-family: Helvetica, Sans-Serif;
  font-weight: 300;
  font-style: normal;
}
.helvetica-regular {
  font-family: Helvetica, Sans-Serif;
  font-weight: 400;
  font-style: normal;
}
.helvetica-medium {
  font-family: Helvetica, Sans-Serif;
  font-weight: 500;
  font-style: normal;
}
.helvetica-bold {
  font-family: Helvetica, Sans-Serif;
  font-weight: 700;
  font-style: normal;
}

/* LOADING COMPONENT  */

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
}

.loader::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #353d2b;
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      #f9fafb 100%,
      transparent 0
    ),
    radial-gradient(circle 4px at 18px 0px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 0px 18px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 36px 18px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 18px 36px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 30px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 5px 30px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 5px 5px, #f9fafb 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader::after {
  content: "";
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #353d2b;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      #f9fafb 100%,
      transparent 0
    ),
    radial-gradient(circle 2.5px at 12px 0px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 0px 12px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 24px 12px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 12px 24px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 20px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 20px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 3px, #f9fafb 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #353d2b #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #353d2b;
  border-radius: 10px;
  border: 4px solid #ffffff;
}

/* selection text */
::selection {
  background-color: #353d2b;
  color: #ffffff;
}

/* Chrome, Edge, and Safari */
::-webkit-selection {
  background-color: #353d2b;
  color: #ffffff;
}

/* ANIMATION BOUNCE  */

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slow-bounce 3s infinite;
  display: inline-block;
}

/* slide effect */

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 650px) {
  .main-block {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    align-items: center;
  }
  .lists {
    padding-left: 0px;
    padding-right: 80px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .step {
    margin-top: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 80%;
  }
  .step:first-of-type {
    margin-left: 0;
  }
}

body.fixed {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.tooltip {
  position: relative;
  display: inline; /* Убедиться, что элемент остается инлайновым */
  cursor: pointer;
  color: inherit;
  vertical-align: baseline; /* Гарантируем, что элемент будет на одной линии с остальным текстом */
}

.tooltip-text {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;

  position: absolute;
  z-index: 1;
  bottom: 100%; /* Показываем над текстом */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
