@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* VOGUE  */

@font-face {
  font-family: "Vogue";
  src: local("Vogue"), url("./fonts/Vogue.ttf") format("truetype");
}

/* AVENIR */

@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"), url("./fonts/Avenir-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed";
  src: local("Avenir-Next-Condensed"),
    url("./fonts/Avenir-Next-Condensed.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Light";
  src: local("Avenir-Next-Condensed-Light"),
    url("./fonts/Avenir-Next-Condensed-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Bold";
  src: local("Avenir-Next-Condensed-Bold"),
    url("./fonts/Avenir-Next-Condensed-Bold.ttf") format("truetype");
}

/* MAVES  */

@font-face {
  font-family: "Maves-Regular";
  src: local("Maves-Regular"),
    url("./fonts/Maves-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis-Medium";
  src: local("Metropolis-Medium"),
    url("./fonts/Metropolis-Medium.otf") format("truetype");
}

/* SOLEIL  */

@font-face {
  font-family: "SoleilBold";
  src: local("SoleilBold"), url("./fonts/SoleilBold.otf") format("truetype");
}
@font-face {
  font-family: "SoleilBook";
  src: local("SoleilBook"), url("./fonts/SoleilBook.otf") format("truetype");
}
@font-face {
  font-family: "SoleilRegular";
  src: local("SoleilRegular"),
    url("./fonts/SoleilRegular.otf") format("truetype");
}
@font-face {
  font-family: "SoleilLight";
  src: local("SoleilLight"), url("./fonts/SoleilLight.otf") format("truetype");
}
@font-face {
  font-family: "American Typewriter Regular";
  src: local("American Typewriter Regular"),
    url("./fonts/American Typewriter Regular.ttf") format("truetype");
}

.american {
  font-family: "American Typewriter Regular";
}

.soleil {
  font-family: "SoleilRegular";
}
.soleil-bold {
  font-family: "SoleilBold";
}
.soleil-book {
  font-family: "SoleilBook";
}
.soleil-light {
  font-family: "SoleilLight";
}

.vogue {
  font-family: "Vogue";
}
.avenir {
  font-family: "Avenir-Light";
}
.avenir-medium {
  font-family: "Metropolis-Medium";
}
.avenir-cond {
  font-family: "Avenir-Next-Condensed";
}
.avenir-light {
  font-family: "Avenir-Next-Condensed-Light";
}
.avenir-bold {
  font-family: "Avenir-Next-Condensed-Bold";
}
.maves {
  font-family: "Maves-Regular";
}
.rouge {
  font-family: "Rouge Script", cursive;
}

.helvetica {
  font-family: Helvetica, Sans-Serif;
  font-weight: 400;
}
.helvetica-thin {
  font-family: Helvetica, Sans-Serif;
  font-weight: 100;
  font-style: normal;
}
.helvetica-light {
  font-family: Helvetica, Sans-Serif;
  font-weight: 300;
  font-style: normal;
}
.helvetica-regular {
  font-family: Helvetica, Sans-Serif;
  font-weight: 400;
  font-style: normal;
}
.helvetica-medium {
  font-family: Helvetica, Sans-Serif;
  font-weight: 500;
  font-style: normal;
}
.helvetica-bold {
  font-family: Helvetica, Sans-Serif;
  font-weight: 700;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.figure {
  -webkit-clippath: circle(73% at 51% 17%);
  clippath: circle(75% at 50% 0);
}

.figure2 {
  -webkit-clippath: circle(70% at 32% 0);
  clippath: circle(70% at 32% 0);
}

.logo-zoom {
  animation: zoom 2s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.logo-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo-vibrate {
  animation: vibrate 0.1s infinite alternate;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2px);
  }
}

.transition-height {
  transition-property: height;
  transition-duration: 0.3s;
  overflow: hidden;
}

.expanded {
  height: auto;
}

.shadow-bottom {
  box-shadow: 0 8px 6px -6px black;
}

.inside-shadow {
  box-shadow: inset 0 0 10px #aa935e;
}

.Navigation-Anchor {
  background-color: #9b895f !important;
}

.paper {
  margin: 2em auto;
  background: #fff;
  box-shadow: 4px 4px 0 #353d2b;
  background-image: linear-gradient(
      90deg,
      #fff 12px,
      0,
      #353d2b 15px,
      0,
      #eee9dd 20px,
      0,
      #fff 100%
    ),
    radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%),
    radial-gradient(circle at 22px 8px, #eee9dd 40%, #353d2b 40%, #353d2b 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}

/* LOADING COMPONENT  */

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
}

.loader::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #353d2b;
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      #f9fafb 100%,
      transparent 0
    ),
    radial-gradient(circle 4px at 18px 0px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 0px 18px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 36px 18px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 18px 36px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 30px 30px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 5px 30px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 4px at 5px 5px, #f9fafb 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader::after {
  content: "";
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #353d2b;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      #f9fafb 100%,
      transparent 0
    ),
    radial-gradient(circle 2.5px at 12px 0px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 0px 12px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 24px 12px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 12px 24px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 20px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 20px, #f9fafb 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 3px, #f9fafb 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #353d2b #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #353d2b;
  border-radius: 10px;
  border: 4px solid #ffffff;
}

/* selection text */
::selection {
  background-color: #353d2b;
  color: #ffffff;
}

/* Chrome, Edge, and Safari */
::-webkit-selection {
  background-color: #353d2b;
  color: #ffffff;
}

/* CHATWAY VISIBILITY */

.chatway--container {
  display: none;
}

.show-chatway .chatway--container {
  display: block;
}

/* ANIMATION BOUNCE  */

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slow-bounce 3s infinite;
  display: inline-block;
}

/* slide effect */

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Add to your existing CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 650px) {
  .main-block {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    align-items: center;
  }
  .lists {
    padding-left: 0px;
    padding-right: 80px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .step {
    margin-top: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 80%;
  }
  .step:first-of-type {
    margin-left: 0;
  }
}

body.fixed {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
